# LeadKart Go — Canonical HTTP API contract per ADR 0046.
#
# Source of truth for: TypeScript client generation (openapi-typescript),
# interactive docs (Scalar @ /docs), Postman/Insomnia import, mock servers
# (Prism / Mockoon), partner-integration handshakes.
#
# Maintenance: every PR touching internal/identity/ports/*.go MUST update
# this file if the change affects wire shape. Future arch test will enforce.
#
# Versioning: info.version follows semver. v1 paths stay stable; breaking
# changes land as a parallel v2.yaml per separate API-versioning ADR.

openapi: 3.1.0

info:
  title: LeadKart API
  version: 0.2.0
  description: |
    LeadKart Identity + Platform API. Multi-tenant SaaS for Indian PCD pharma.

    **Auth:** Bearer JWT in `Authorization` header. Tokens obtained via
    `POST /api/v1/auth/login`. Access tokens TTL ~10 minutes; refresh via
    `POST /api/v1/auth/refresh` with the refresh token from the login body.

    **Multi-tenant scope:** every authenticated call carries the caller's
    `tenant_id` claim implicitly. Platform operators (`is_platform=true` JWT)
    can override scope via the `X-Tenant-Id` header on reads, or open an
    impersonation session for sustained tenant-scoped work (see
    `POST /api/v1/platform/impersonation/sessions`).

    **Errors:** RFC 9457 Problem Details shape with LeadKart legacy
    `error`/`message` fields preserved for backward compat. See
    [ErrorResponse](#/components/schemas/ErrorResponse).

    **Pagination:** cursor (keyset) per ADR 0038. Lists return
    `{ items, has_more, next_cursor }`; pass `cursor=<opaque>` to fetch
    next page. No total counts.

    **Enumeration safety:** guessable-key lookups (`/by-slug/`, `?email=`)
    return 404 indistinguishably whether the resource doesn't exist OR
    the caller lacks access. Per ADR 0044.
  contact:
    name: LeadKart Engineering
  license:
    name: Proprietary

servers:
  - url: https://api.leadkart.io
    description: Production
  - url: http://localhost:8080
    description: Local dev

tags:
  - name: auth
    description: Login, refresh, logout, password + email change flows
  - name: capabilities
    description: Caller-self introspection (`/me/*`)
  - name: sessions
    description: Refresh-token family management (per-device sign-out)
  - name: tenants
    description: Tenant CRUD + lifecycle (same-tenant or platform operator)
  - name: users
    description: Tenant membership management
  - name: roles
    description: Per-tenant role + permission assignment
  - name: platform
    description: Cross-tenant operator surface (Platform-only)
  - name: search
    description: Operator omni-search (Cmd+K)
  - name: audit
    description: Audit-log read endpoints
  - name: permission-requests
    description: Permission-elevation approval workflow (ADR 0055)
  - name: Platform
    description: Platform bounded context (ADR 0059) — verification pipeline, marketplace, lead credits
  - name: inventory
    description: Product / Batch / StockMovement aggregates per BRD §6.5 (ADR 0061)

security:
  - BearerAuth: []

paths:
  # ===== AUTH ============================================================
  /api/v1/auth/login:
    post:
      tags: [auth]
      summary: Exchange credentials for ⟨access, refresh⟩ tokens
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        '200':
          description: Tokens issued
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoginResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '423':
          description: |
            Account locked after [person.MaxFailedLogins] consecutive
            failed login attempts within [person.LockoutWindow] per
            NIST 800-63B §5.2.2 + ADR 0053. Retry-After header carries
            integer seconds until unlock (RFC 7231 §7.1.3 delta-seconds).
          headers:
            Retry-After:
              description: Seconds until the account unlocks.
              schema:
                type: integer
                minimum: 1
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '500': { $ref: '#/components/responses/InternalServerError' }

  /api/v1/auth/refresh:
    post:
      tags: [auth]
      summary: Rotate refresh token + reissue access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RefreshRequest' }
      responses:
        '200':
          description: Rotated tokens
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoginResponse' }
        '401':
          description: Refresh rejected (consumed / expired / family revoked)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /api/v1/auth/logout:
    post:
      tags: [auth]
      summary: Revoke a refresh-token family
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LogoutRequest' }
      responses:
        '204': { description: Logged out (idempotent) }

  /api/v1/auth/request-password-reset:
    post:
      parameters:
        - $ref: '#/components/parameters/XCommandId'
      tags: [auth]
      summary: Request password reset email
      description: ALWAYS returns 204 regardless of whether the email is registered (Auth0/Okta canon — defeats account enumeration).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RequestPasswordResetRequest' }
      responses:
        '204': { description: Reset request accepted (silent success) }

  /api/v1/auth/reset-password:
    post:
      parameters:
        - $ref: '#/components/parameters/XCommandId'
      tags: [auth]
      summary: Confirm password reset using emailed token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ResetPasswordRequest' }
      responses:
        '204': { description: Password reset complete }
        '400': { $ref: '#/components/responses/BadRequest' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/auth/change-password:
    post:
      parameters:
        - $ref: '#/components/parameters/XCommandId'
      tags: [auth]
      summary: Change own password (authenticated)
      description: Current password verified even when authenticated (security.md "Password change").
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ChangePasswordRequest' }
      responses:
        '204': { description: Password changed }
        '401':
          description: Incorrect current password
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/auth/request-email-change:
    post:
      parameters:
        - $ref: '#/components/parameters/XCommandId'
      tags: [auth]
      summary: Request email-change confirmation link (authenticated)
      description: |
        Authenticated route — PersonID derived from JWT Subject; new email
        in the body. Confirmation link is emailed to the NEW address.
        Per Auth0 / Okta / Microsoft Entra ID canon: ALWAYS returns 204
        regardless of whether the target email is already taken — defeats
        account enumeration. The unique-index at apply time enforces the
        actual constraint via POST /api/v1/auth/confirm-email-change.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RequestEmailChangeRequest' }
      responses:
        '204': { description: Email-change request accepted (silent on collision) }
        '400': { $ref: '#/components/responses/BadRequest' }

  /api/v1/auth/confirm-email-change:
    post:
      parameters:
        - $ref: '#/components/parameters/XCommandId'
      tags: [auth]
      summary: Confirm email change via emailed token
      description: |
        Anonymous endpoint (the confirmation token IS the proof). The
        uniqueness check on the target email happens here; a 400 with
        `email_change_token_invalid` covers both expired tokens AND
        target-email collisions.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ConfirmEmailChangeRequest' }
      responses:
        '204': { description: Email changed }
        '400': { $ref: '#/components/responses/BadRequest' }

  # ===== CAPABILITIES + ACTIVITY ========================================
  /api/v1/auth/me/capabilities:
    get:
      tags: [capabilities]
      summary: Resolved permission/role/profile bundle for the calling membership
      description: |
        Auth0 `/userinfo` canon. Returns JWT-resident fields (no DB hit) plus
        cached profile enrichment (email + name + role names). The frontend
        uses this to drive nav / tier / button-visibility without decoding
        the JWT.
      responses:
        '200':
          description: Capabilities
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CapabilitiesDto' }

  /api/v1/auth/me/activity:
    get:
      tags: [audit]
      summary: Caller's own audit-event feed (keyset-paginated)
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Activity page
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListAuditEventsResponse' }

  # ===== SESSIONS =======================================================
  /api/v1/auth/sessions:
    get:
      tags: [sessions]
      summary: List active sessions for the caller
      responses:
        '200':
          description: Sessions
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListSessionsResponse' }
    delete:
      tags: [sessions]
      summary: Revoke all sessions (optionally excluding current)
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RevokeAllSessionsRequest' }
      responses:
        '200':
          description: Sessions revoked
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RevokeAllSessionsResponse' }

  /api/v1/auth/sessions/{familyId}:
    delete:
      tags: [sessions]
      summary: Revoke a specific session (refresh-token family)
      parameters:
        - name: familyId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Session revoked (idempotent) }

  # ===== TENANTS ========================================================
  /api/v1/tenants:
    get:
      tags: [tenants]
      summary: List tenants matching a filter (Stripe-style query lookup)
      description: |
        Canonical slug-lookup per ADR 0052. Returns `{tenants: [0..1 match]}`.
        Enumeration-safe per ADR 0044 — callers who lack access to the matched
        tenant see an empty list, indistinguishable from "no such slug."

        Supersedes `GET /api/v1/tenants/by-slug/{slug}` (deprecated; grandfathered
        for v0.2 frontend-contract compatibility per ADR 0049).

        v0.2 supports `slug` only; future filters (`status`, `created_after`)
        land per Stripe listing-endpoint canon.
      parameters:
        - name: slug
          in: query
          required: true
          description: Tenant slug to look up (URL-safe; lowercase + digits + hyphens).
          schema:
            type: string
            minLength: 1
            maxLength: 64
      responses:
        '200':
          description: List of matching tenants (length 0 or 1)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListTenantsResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }

    post:
      parameters:
        - $ref: '#/components/parameters/XCommandId'
      tags: [tenants]
      summary: Register a new tenant + initial admin user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterTenantRequest' }
      responses:
        '201':
          description: Tenant registered
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RegisterTenantResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409':
          description: Email already has an active membership in another tenant
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /api/v1/tenants/{tenantId}:
    get:
      tags: [tenants]
      summary: Get tenant by UUID
      parameters: [{ $ref: '#/components/parameters/TenantId' }]
      responses:
        '200':
          description: Tenant
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TenantDto' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/tenants/{tenantId}/profile:
    patch:
      tags: [tenants]
      summary: Update tenant legal + display name
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/TenantId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateTenantProfileRequest' }
      responses:
        '204': { description: Profile updated }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/tenants/{tenantId}/statutory:
    patch:
      tags: [tenants]
      summary: Update tenant statutory IDs (GST / PAN / drug licence)
      description: |
        Empty strings clear the corresponding declaration; the aggregate
        accepts a zero Statutory VO for tenants that haven't yet
        onboarded their compliance IDs.
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/TenantId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateTenantStatutoryRequest' }
      responses:
        '204': { description: Statutory updated }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/tenants/{tenantId}/admin-contact:
    patch:
      tags: [tenants]
      summary: Update tenant admin phone + postal address
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/TenantId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateTenantAdminContactRequest' }
      responses:
        '204': { description: Admin contact updated }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/tenants/{tenantId}/settings:
    patch:
      tags: [tenants]
      summary: Update tenant password policy
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/TenantId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateTenantSettingsRequest' }
      responses:
        '204': { description: Settings updated }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/tenants/{tenantId}/display-preferences:
    patch:
      tags: [tenants]
      summary: Update tenant locale / time zone / date format / currency
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/TenantId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateTenantDisplayPreferencesRequest' }
      responses:
        '204': { description: Display preferences updated }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/tenants/{tenantId}/suspend:
    post:
      tags: [tenants]
      summary: Suspend a tenant (Platform-only)
      description: Reason is mandatory per data-retention.md audit canon.
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/TenantId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SuspendTenantRequest' }
      responses:
        '204': { description: Tenant suspended }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/tenants/{tenantId}/activate:
    post:
      tags: [tenants]
      summary: Activate a pending or suspended tenant (Platform-only)
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/TenantId' }
      responses:
        '204': { description: Tenant activated }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/tenants/{tenantId}/mark-for-deletion:
    post:
      tags: [tenants]
      summary: Mark tenant for deletion (Platform-only)
      description: |
        Schedules the tenant for hard-deletion after the retention window.
        Reason is mandatory (DPDP §12 + SOC2 CC4.1 audit requirement).
        Tenants holding an active SuperAdmin role refuse the transition
        with 422 (`platform_tenant_undeletable`).
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/TenantId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MarkTenantForDeletionRequest' }
      responses:
        '204': { description: Tenant marked for deletion }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/tenants/{tenantId}/restore:
    post:
      tags: [tenants]
      summary: Restore a tenant from marked-for-deletion (Platform-only)
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/TenantId' }
      responses:
        '204': { description: Tenant restored }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/tenants/by-slug/{slug}:
    get:
      tags: [tenants]
      summary: '[DEPRECATED] Get tenant by slug — use GET /api/v1/tenants?slug='
      deprecated: true
      description: |
        **DEPRECATED per ADR 0052.** Use `GET /api/v1/tenants?slug=acme`
        instead — the canonical Stripe / Auth0 listing-with-filter shape.
        This path-segment lookup is grandfathered for v0.2 frontend-contract
        compatibility per ADR 0049; removed in v0.4+ once frontend migrates.

        Returns 404 for both "slug doesn't exist" AND "caller lacks
        access to this tenant" (response bodies byte-identical). Per
        ADR 0044 enumeration safety; same canon as GitHub
        `/orgs/{slug}`, Stripe customer lookup, Auth0 user lookup.
      parameters:
        - name: slug
          in: path
          required: true
          schema: { type: string, minLength: 2, maxLength: 100, pattern: '^[a-z0-9-]+$' }
      responses:
        '200':
          description: Tenant
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TenantDto' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/tenants/{tenantId}/audit/events:
    get:
      tags: [audit]
      summary: Tenant-scoped audit-event feed (keyset-paginated)
      parameters:
        - $ref: '#/components/parameters/TenantId'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Activity page
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListAuditEventsResponse' }

  # ===== USERS ==========================================================
  /api/v1/users:
    get:
      tags: [users]
      summary: List active members of the caller's tenant (cursor-paginated)
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Users page
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListUsersResponse' }
    post:
      parameters:
        - $ref: '#/components/parameters/XCommandId'
      tags: [users]
      summary: Create a user (find-or-create-by-email, per Auth0/Entra ID canon)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateUserRequest' }
      responses:
        '201':
          description: User created (or attached to existing global Person)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CreateUserResponse' }

  /api/v1/users/{userId}:
    get:
      tags: [users]
      summary: Get one user (membership) by ID
      parameters: [{ $ref: '#/components/parameters/UserId' }]
      responses:
        '200':
          description: User
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UserDto' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/users/{userId}/profile:
    patch:
      tags: [users]
      summary: Update user designation + department + status message
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/UserId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateUserProfileRequest' }
      responses:
        '204': { description: Profile updated }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/users/{userId}/deactivate:
    post:
      tags: [users]
      summary: Deactivate a user (reason required)
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/UserId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DeactivateUserRequest' }
      responses:
        '204': { description: Deactivated }

  /api/v1/users/{userId}/reactivate:
    post:
      tags: [users]
      summary: Reactivate a deactivated user
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/UserId' }
      responses:
        '204': { description: Reactivated }

  /api/v1/users/{userId}/roles:
    post:
      tags: [users]
      summary: Assign a role to a user
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/UserId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssignUserRoleRequest' }
      responses:
        '204': { description: Role assigned }

  /api/v1/users/{userId}/roles/{roleId}:
    delete:
      tags: [users]
      summary: Revoke a role from a user
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/RoleId'
      responses:
        '204': { description: Role revoked }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/users/{userId}/permission-overrides:
    patch:
      tags: [users]
      summary: Replace user's granted + revoked permission overlays atomically
      description: |
        Empty arrays clear the corresponding overlay. Permission names
        MUST match the closed `permission.IdentityPermissions` catalogue;
        unknown names surface as 422 (`permission_unknown`).
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/UserId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReplaceUserPermissionOverridesRequest' }
      responses:
        '204': { description: Overrides replaced }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/users/{userId}/manager:
    put:
      tags: [users]
      summary: Assign user's reporting manager
      description: |
        ManagerID MUST be a Membership in the same tenant — composite FK
        at the schema layer enforces this; cross-tenant ID surfaces as 422.
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/UserId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssignUserManagerRequest' }
      responses:
        '204': { description: Manager assigned }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }
    delete:
      tags: [users]
      summary: Remove user's reporting manager
      parameters: [{ $ref: '#/components/parameters/UserId' }]
      responses:
        '204': { description: Manager removed }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/users/{userId}/anonymise:
    post:
      tags: [users]
      summary: Anonymise a user (DPDP §12 / GDPR Art. 17 right-to-erasure; Platform-only)
      description: |
        Cross-tenant blast radius — one Person can hold many Memberships;
        the cascade is gated on Platform tier per multi-tenancy.md
        "SuperUser god-mode" + `identity.users.anonymise` permission.
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/UserId' }
      responses:
        '204': { description: User anonymised }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  # ===== ROLES ==========================================================
  /api/v1/roles:
    get:
      tags: [roles]
      summary: List roles in the caller's tenant
      responses:
        '200':
          description: Roles
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListRolesResponse' }
    post:
      parameters:
        - $ref: '#/components/parameters/XCommandId'
      tags: [roles]
      summary: Create a custom role
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateRoleRequest' }
      responses:
        '201':
          description: Role created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CreateRoleResponse' }

  /api/v1/roles/{roleId}:
    get:
      tags: [roles]
      summary: Get role by ID
      parameters: [{ $ref: '#/components/parameters/RoleId' }]
      responses:
        '200':
          description: Role
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RoleDto' }
    patch:
      tags: [roles]
      summary: Rename a role and/or change its hierarchy level
      description: |
        Both fields optional. Empty `name` skips rename. Omitting
        `hierarchy_level` (or sending `null`) skips re-level — using a
        pointer field instead of a -1 sentinel keeps the wire shape clean.
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/RoleId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateRoleRequest' }
      responses:
        '204': { description: Role updated }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Role name already taken in this tenant
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/Unprocessable' }
    delete:
      tags: [roles]
      summary: Soft-delete a role
      parameters: [{ $ref: '#/components/parameters/RoleId' }]
      responses:
        '204': { description: Role deleted }

  /api/v1/roles/{roleId}/parent:
    patch:
      tags: [roles]
      summary: Set or clear the role's parent (single-parent hierarchy)
      description: |
        ADR 0058 (Wave 9.4, supersedes ADR 0054) — single-parent
        organizational hierarchy backed by a dedicated
        `identity.role_hierarchy_edges` aggregate. Permission
        resolution stays flat per role; the hierarchy is consumed by
        approval workflows + reporting.

        Pass `{"parent_role_id": null}` (or omit / empty string) to
        clear the parent (role becomes a root). Pass a UUID referencing
        a role in the SAME tenant to set / re-point the parent.

        Cycle prevention + cross-tenant safety are declarative at the
        DB layer (composite FK + cycle trigger). Surfaces as 422
        `role_hierarchy_cycle` / `role_hierarchy_cross_tenant`, 400
        `role_hierarchy_self_reference`, 409
        `role_hierarchy_edge_already_exists`.

        Optional `reason` (10-1024 chars) is recorded onto the new
        edge OR the cleared edge for audit.
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/RoleId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SetRoleParentRequest' }
      responses:
        '204': { description: Parent set / cleared }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: |
            Role already has an active parent edge (single-parent
            invariant: at most one active edge per child). Caller
            should reload to discover the existing edge before
            retrying.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/roles/{roleId}/permissions:
    put:
      tags: [roles]
      summary: Replace the role's permission set atomically
      description: |
        Permission names MUST match the closed
        `permission.IdentityPermissions` catalogue; unknown names surface
        as 422 (`permission_unknown`).
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/RoleId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReplaceRolePermissionsRequest' }
      responses:
        '204': { description: Permissions replaced }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/roles/{roleId}/permissions/grant:
    post:
      tags: [roles]
      summary: Grant a single permission to the role
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/RoleId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RolePermissionRequest' }
      responses:
        '204': { description: Permission granted }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/roles/{roleId}/permissions/revoke:
    post:
      tags: [roles]
      summary: Revoke a single permission from the role
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/RoleId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RolePermissionRequest' }
      responses:
        '204': { description: Permission revoked }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  # ===== PLATFORM =======================================================
  /api/v1/platform/tenants:
    get:
      tags: [platform]
      summary: List all tenants (operator dashboard)
      responses:
        '200':
          description: Tenants
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListAllTenantsResponse' }

  /api/v1/platform/tenants/{tenantId}:
    delete:
      tags: [platform]
      summary: Hard-delete a tenant (irrecoverable; Platform-only)
      description: |
        Bypasses the marked-for-deletion lifecycle. Tenants holding an
        active SuperAdmin role refuse with 422
        (`platform_tenant_undeletable`).
      parameters: [{ $ref: '#/components/parameters/TenantId' }]
      responses:
        '204': { description: Tenant hard-deleted }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/platform/persons/{personId}:
    get:
      tags: [platform]
      summary: Get person by UUID (cross-tenant operator probe)
      parameters: [{ $ref: '#/components/parameters/PersonId' }]
      responses:
        '200':
          description: Person
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PersonDto' }

  /api/v1/platform/persons/{personId}/memberships:
    get:
      tags: [platform]
      summary: List every Membership a Person holds across tenants
      parameters: [{ $ref: '#/components/parameters/PersonId' }]
      responses:
        '200':
          description: Memberships
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListPersonMembershipsResponse' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/platform/persons/{personId}/profile:
    patch:
      tags: [platform]
      summary: Update the GLOBAL Person profile (first + last name)
      description: |
        Updates Person.FirstName / Person.LastName — distinct from the
        per-Tenant designation/department/status_message which move via
        PATCH /api/v1/users/{userId}/profile.
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/PersonId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdatePersonProfileRequest' }
      responses:
        '204': { description: Profile updated }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/platform/persons/{personId}/global-suspend:
    post:
      tags: [platform]
      summary: Globally suspend a Person across all tenants
      description: Reason is mandatory per data-retention.md audit canon.
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/PersonId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/GlobalSuspendPersonRequest' }
      responses:
        '204': { description: Person globally suspended }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/platform/persons/{personId}/lift-global-suspension:
    post:
      tags: [platform]
      summary: Lift a previously applied global suspension
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/PersonId' }
      responses:
        '204': { description: Suspension lifted }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/platform/persons/{personId}/anonymise:
    post:
      tags: [platform]
      summary: Anonymise a Person record directly (DPDP §12 / GDPR Art. 17)
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/PersonId' }
      responses:
        '204': { description: Person anonymised }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/platform/persons:
    get:
      tags: [platform]
      summary: Get person by email (cross-tenant operator probe)
      parameters:
        - name: email
          in: query
          required: true
          schema: { type: string, format: email }
      responses:
        '200':
          description: Person
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PersonDto' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/platform/stats:
    get:
      tags: [platform]
      summary: Operator dashboard counts (with optional time-window deltas)
      parameters:
        - name: delta_window
          in: query
          required: false
          schema:
            type: string
            enum: ['', '24h', '7d', '30d']
            default: ''
          description: |
            Closed-set per ADR 0040 (cache-key-explosion prevention).
            Empty = no deltas; otherwise emit `deltas` field with "new
            rows since now() - window" for each counter.
      responses:
        '200':
          description: Stats
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PlatformStatsResponse' }

  /api/v1/platform/impersonation/sessions:
    post:
      parameters:
        - $ref: '#/components/parameters/XCommandId'
      tags: [platform]
      summary: Open scoped impersonation session (AWS STS AssumeRole pattern; ADR 0045)
      description: |
        Returns a scoped JWT (`aud=leadkart-impersonation`,
        `is_platform=false`, `is_super_user=false`, `permissions=[tenant.admin]`)
        pinned to the target tenant. Frontend uses this token for the
        session lifetime (≤4h). The original operator's regular JWT is
        unaffected.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateImpersonationSessionRequest' }
      responses:
        '201':
          description: Session opened
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CreateImpersonationSessionResponse' }
        '404':
          description: Target tenant not found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/Unprocessable' }
    get:
      tags: [platform]
      summary: List impersonation sessions
      responses:
        '200':
          description: Sessions
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListImpersonationSessionsResponse' }

  /api/v1/platform/impersonation/sessions/{sessionId}:
    delete:
      tags: [platform]
      summary: End an impersonation session (revoke scoped token)
      description: |
        Ends the session before its natural TTL. The scoped token issued
        by POST /api/v1/platform/impersonation/sessions is invalidated
        on the next request (security_stamp comparison via the
        impersonation-session resolver).
      parameters:
        - name: sessionId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204': { description: Session ended }
        '400': { $ref: '#/components/responses/BadRequest' }

  # ===== SEARCH =========================================================
  /api/v1/search:
    get:
      tags: [search]
      summary: Operator omni-search (parallel pg_trgm fanout)
      parameters:
        - name: q
          in: query
          required: true
          schema: { type: string, minLength: 2, maxLength: 100 }
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 20, default: 5 }
        - name: include
          in: query
          required: false
          schema: { type: string, default: 'persons,tenants' }
          description: Comma-separated category list. Currently `persons`, `tenants`.
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SearchResponse' }
        '400':
          description: Query too short or invalid include list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  # ===== PERMISSION REQUESTS (ADR 0055) =================================
  /api/v1/permission-requests:
    post:
      parameters:
        - $ref: '#/components/parameters/XCommandId'
      tags: [permission-requests]
      summary: Submit a permission-elevation request
      description: |
        Caller (the requester) asks for a time-bound elevated permission.
        The named approver is the requester's current manager
        (`tenant_memberships.reports_to`). If the requester has no
        manager, only Platform operators can approve.
        At most one pending request per (membership, permission) tuple.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreatePermissionRequestRequest' }
      responses:
        '201':
          description: Request submitted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CreatePermissionRequestResponse' }
        '409':
          description: Another pending request already exists for this (membership, permission) tuple
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/Unprocessable' }
    get:
      tags: [permission-requests]
      summary: List the caller's requests (?role=requester|approver)
      description: |
        Default `role=requester` returns the caller's own history (all states).
        `role=approver` returns the Pending queue waiting on the caller's
        decision. Keyset-paginated per ADR 0038.
      parameters:
        - name: role
          in: query
          required: false
          schema:
            type: string
            enum: [requester, approver]
            default: requester
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/PageSize' }
      responses:
        '200':
          description: Page of requests
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListPermissionRequestsResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /api/v1/permission-requests/{requestId}:
    get:
      tags: [permission-requests]
      summary: Get a single permission request
      description: |
        Returns the request if the caller is either the requester, the
        named approver, OR a Platform operator. Cross-caller reads
        collapse to 404 per ADR 0044 enumeration-safety canon.
      parameters:
        - { $ref: '#/components/parameters/PermissionRequestId' }
      responses:
        '200':
          description: The request
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PermissionRequestDto' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/permission-requests/{requestId}/approve:
    post:
      tags: [permission-requests]
      summary: Approve a pending request (manager or platform operator)
      description: |
        Transitions Pending → Approved AND lands a time-bound grant on
        the requester's membership overlay (single transaction). Caller
        MUST be either the requester's manager OR carry `is_platform=true`.
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/PermissionRequestId' }
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApprovePermissionRequestRequest' }
      responses:
        '204': { description: Approved + grant created }
        '403':
          description: Caller is not the manager and not a Platform operator
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Request is not in pending state
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/permission-requests/{requestId}/deny:
    post:
      tags: [permission-requests]
      summary: Deny a pending request (manager or platform operator)
      description: |
        Transitions Pending → Denied. `decision_reason` is REQUIRED on
        Deny per ADR 0055 audit canon. Same caller-authorization as Approve.
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/PermissionRequestId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DenyPermissionRequestRequest' }
      responses:
        '204': { description: Denied }
        '403':
          description: Caller is not the manager and not a Platform operator
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Request is not in pending state
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/Unprocessable' }

  /api/v1/permission-requests/{requestId}/cancel:
    post:
      tags: [permission-requests]
      summary: Cancel a pending request (requester only)
      description: |
        Withdraws a pending request. Caller MUST be the original
        requester; cross-caller cancel collapses to 404 per
        ADR 0044 enumeration-safety canon.
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/PermissionRequestId' }
      responses:
        '204': { description: Cancelled }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Request is not in pending state
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  # ============================================================================
  # Platform bounded context (ADR 0059) — Slice 1
  # Verification pipeline + marketplace + lead credits.
  # ============================================================================

  /api/v1/platform/unverified-contacts:
    post:
      parameters:
        - $ref: '#/components/parameters/XCommandId'
      tags: [Platform]
      summary: Create a raw unverified contact
      description: Lead Agent registers a new prospect for verification.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateUnverifiedContactRequest' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CreateUnverifiedContactResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationError' }
    get:
      tags: [Platform]
      summary: List unverified contacts (Platform-only)
      description: Cursor-paginated list of contacts. Optional `status` filter.
      parameters:
        - name: status
          in: query
          required: false
          schema: { type: string, enum: [new, in_call, verified, rejected, busy] }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListUnverifiedContactsResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /api/v1/platform/unverified-contacts/{id}/calls:
    post:
      tags: [Platform]
      summary: Log a verification call outcome
      description: |
        Records one call attempt against the contact. When `outcome=busy`,
        callback window fields are required; otherwise they MUST be omitted.
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - $ref: '#/components/parameters/PathID'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LogVerificationCallRequest' }
      responses:
        '201':
          description: Logged
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LogVerificationCallResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /api/v1/platform/unverified-contacts/{id}/verify:
    post:
      tags: [Platform]
      summary: Promote contact to a marketplace PlatformLead
      description: |
        Refuses with 409 (`contact_already_terminal`) when the contact
        is already in a terminal state (Verified or Rejected) — the
        handler will NOT emit a duplicate `LeadVerifiedV1` /
        fabricate a phantom PlatformLead. Per ADR 0059 review-pass
        H11.
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - $ref: '#/components/parameters/PathID'
      responses:
        '201':
          description: Promoted; new PlatformLead ID returned
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VerifyUnverifiedContactResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Contact already in a terminal state (Verified or Rejected)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /api/v1/platform/unverified-contacts/{id}/reject:
    post:
      tags: [Platform]
      summary: Terminally reject an unverified contact
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - $ref: '#/components/parameters/PathID'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RejectUnverifiedContactRequest' }
      responses:
        '204': { description: Rejected }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /api/v1/platform/marketplace/leads:
    get:
      tags: [Platform]
      summary: Browse marketplace leads (tenant-facing)
      description: |
        Cursor-paginated list of UNSOLD platform leads. All filters optional.
        `product_ranges` + `dosage_forms` are CSV (`?product_ranges=Cardiac,Diabetic`)
        and match ANY-overlap via GIN.
      parameters:
        - { name: state,            in: query, required: false, schema: { type: string } }
        - { name: city,             in: query, required: false, schema: { type: string } }
        - { name: district,         in: query, required: false, schema: { type: string } }
        - { name: pincode,          in: query, required: false, schema: { type: string } }
        - { name: business_type,    in: query, required: false, schema: { type: string, enum: [PCD, ThirdParty] } }
        - { name: medicine_system,  in: query, required: false, schema: { type: string, enum: [Allopathic, Ayurvedic] } }
        - { name: order_value,      in: query, required: false, schema: { type: string, enum: [Below5000, Upto25000, Upto50000, Above50000] } }
        - { name: buy_timeline,     in: query, required: false, schema: { type: string, enum: [WithinWeek, Within15Days, WithinMonth] } }
        - { name: has_drug_licence, in: query, required: false, schema: { type: boolean } }
        - { name: has_gst,          in: query, required: false, schema: { type: boolean } }
        - { name: gst_verified,     in: query, required: false, schema: { type: boolean } }
        - { name: product_ranges,   in: query, required: false, schema: { type: string }, description: 'Comma-separated' }
        - { name: dosage_forms,     in: query, required: false, schema: { type: string }, description: 'Comma-separated' }
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BrowseMarketplaceResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /api/v1/platform/marketplace/leads/{id}/purchase:
    post:
      tags: [Platform]
      summary: Purchase a marketplace lead with credits
      description: |
        Debits 1 credit from the caller's tenant lead-credit balance + transfers
        the lead to the tenant's CRM (via the LeadPurchasedV1 event consumed by CRM).
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - $ref: '#/components/parameters/PathID'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PurchaseLeadRequest' }
      responses:
        '201':
          description: Purchased
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PurchaseLeadResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Lead already sold OR credit-row concurrency conflict
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /api/v1/platform/lead-credits/topup:
    post:
      parameters:
        - $ref: '#/components/parameters/XCommandId'
      tags: [Platform]
      summary: Top up a tenant's lead-credit balance (Platform-only)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TopupLeadCreditsRequest' }
      responses:
        '200':
          description: Topped up
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TopupLeadCreditsResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/ValidationError' }

  /api/v1/platform/lead-credits/balance:
    get:
      tags: [Platform]
      summary: Get current tenant's lead-credit balance
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LeadCreditBalanceResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /api/v1/inventory/products:
    post:
      parameters:
        - $ref: '#/components/parameters/XCommandId'
      tags: [inventory]
      summary: Create a Product
      description: |
        Requires `inventory.catalog.manage`. SKU is canonicalised
        upper-case + trimmed before per-tenant uniqueness check. 409 on
        SKU collision. 422 on field-validation failure.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateProductRequest' }
      responses:
        '201':
          description: Product created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CreateProductResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409':
          description: SKU already exists in this tenant
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/Unprocessable' }

    get:
      tags: [inventory]
      summary: List Products (cursor-paginated)
      description: |
        Requires `inventory.catalog.read` OR `inventory.catalog.manage`.
        Returns the live (non-deleted) products for the caller's tenant
        ordered (created_at, id) DESC. Filters narrow the result set.
      parameters:
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/PageSize' }
        - name: active
          in: query
          required: false
          schema: { type: string, enum: ['true', 'false'] }
          description: When 'true', restricts to is_active products.
        - name: dosage_form
          in: query
          required: false
          schema: { type: string }
        - name: manufacturer
          in: query
          required: false
          schema: { type: string }
        - name: search
          in: query
          required: false
          schema: { type: string }
          description: pg_trgm fuzzy match on (sku || name) per ADR 0040.
      responses:
        '200':
          description: Page of products
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListProductsResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/v1/inventory/products/{productId}:
    get:
      tags: [inventory]
      summary: Get a Product by ID
      description: |
        Requires `inventory.catalog.read`. Cross-tenant access surfaces
        as 404 per ADR 0044 enumeration-safety.
      parameters:
        - { $ref: '#/components/parameters/ProductId' }
      responses:
        '200':
          description: Product view
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProductDto' }
        '404': { $ref: '#/components/responses/NotFound' }

    patch:
      tags: [inventory]
      summary: Update a Product
      description: |
        Requires `inventory.catalog.manage`. Supplied-key partial update —
        only fields present in the JSON body are applied (omitted fields
        retain their prior value). JSON `null` is NOT distinguishable from
        omission on the wire, so clearing a field is not supported; this
        deliberately differs from RFC 7396 merge-patch semantics. 422 on
        invariant failure (out-of-range GST bps, oversized name, etc).
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/ProductId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateProductRequest' }
      responses:
        '204': { description: Updated }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Product is deleted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/Unprocessable' }

    delete:
      tags: [inventory]
      summary: Soft-delete a Product
      description: |
        Requires `inventory.catalog.manage`. Idempotent — repeat calls
        return 204. REJECTED with 409 `product_has_live_stock` if any
        live batch with quantity_on_hand > 0 exists.
      parameters:
        - { $ref: '#/components/parameters/ProductId' }
      responses:
        '204': { description: Deleted (or already deleted) }
        '409':
          description: Product has live batches with non-zero stock
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /api/v1/inventory/products/{productId}/batches:
    post:
      tags: [inventory]
      summary: Add a Batch to a Product
      description: |
        Requires `inventory.stock.manage`. The parent product MUST exist
        in the caller's tenant scope (cross-tenant or missing → 404).
        batch_number is unique per product on live rows.
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/ProductId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AddBatchRequest' }
      responses:
        '201':
          description: Batch added
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AddBatchResponse' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: batch_number already exists for this product
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/Unprocessable' }

    get:
      tags: [inventory]
      summary: List Batches for a Product (cursor-paginated, FEFO-ordered)
      description: |
        Requires `inventory.stock.read` OR `inventory.stock.manage`.
        Returns live batches ordered by expiry_date DESC. Expired batches
        excluded by default (pass `include_expired=true` to include).
      parameters:
        - { $ref: '#/components/parameters/ProductId' }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/PageSize' }
        - name: include_expired
          in: query
          required: false
          schema: { type: string, enum: ['true', 'false'] }
      responses:
        '200':
          description: Page of batches
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListBatchesResponse' }

  /api/v1/inventory/batches/{batchId}:
    get:
      tags: [inventory]
      summary: Get a Batch by ID
      description: |
        Requires `inventory.stock.read` OR `inventory.stock.manage`.
        Cross-tenant access surfaces as 404 per ADR 0044.
      parameters:
        - { $ref: '#/components/parameters/BatchId' }
      responses:
        '200':
          description: Batch view
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BatchDto' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/inventory/batches/{batchId}/movements:
    post:
      tags: [inventory]
      summary: Log a Stock Movement
      description: |
        Requires `inventory.stock.manage`. Persists the movement + bumps
        the batch's quantity_on_hand atomically (single tx). Idempotency
        via `X-Command-Id` per ADR 0031.

        Quantity is the POSITIVE magnitude — direction is implicit in
        Type (Outbound subtracts). Adjustment writes the positive
        magnitude in slice 1; future `direction` field for up/down.

        Rejections (409): insufficient_stock (Outbound > on-hand),
        batch_expired (Inbound on expired batch), conflict (concurrent
        modification after retry cap).
      parameters:
        - $ref: '#/components/parameters/XCommandId'
        - { $ref: '#/components/parameters/BatchId' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LogMovementRequest' }
      responses:
        '201':
          description: Movement logged
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LogMovementResponse' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: Insufficient stock / batch expired / concurrency conflict
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '422': { $ref: '#/components/responses/Unprocessable' }

    get:
      tags: [inventory]
      summary: List Stock Movements for a Batch (cursor-paginated)
      description: |
        Requires `inventory.stock.read` OR `inventory.stock.manage`.
        Append-only ledger ordered (occurred_at, id) DESC. Optional
        `type` filter narrows to one movement type.
      parameters:
        - { $ref: '#/components/parameters/BatchId' }
        - { $ref: '#/components/parameters/Cursor' }
        - { $ref: '#/components/parameters/PageSize' }
        - name: type
          in: query
          required: false
          schema:
            type: string
            enum: [inbound, outbound, adjustment, reservation, release]
      responses:
        '200':
          description: Page of movements
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ListMovementsResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT access token from POST /api/v1/auth/login.
        Audience `leadkart-api` for regular tokens or `leadkart-impersonation`
        for scoped impersonation tokens.

  parameters:
    XCommandId:
      name: X-Command-Id
      in: header
      required: false
      description: |
        Per-caller idempotency key (UUIDv4/v7, lowercase). When supplied
        the server replays the original response within the
        idempotency-store retention window (24h, Stripe canon). Per
        ADR 0031 — required by every state-mutating endpoint (POST /
        PUT / PATCH) except auth/login, auth/refresh, auth/logout
        (token operations are idempotent at the token-family level).
      schema: { type: string, format: uuid, minLength: 36, maxLength: 36 }
    Cursor:
      name: cursor
      in: query
      required: false
      schema: { type: string }
      description: Opaque base64-encoded keyset cursor. Omit for first page.
    PageSize:
      name: page_size
      in: query
      required: false
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
    TenantId:
      name: tenantId
      in: path
      required: true
      schema: { type: string, format: uuid }
    UserId:
      name: userId
      in: path
      required: true
      schema: { type: string, format: uuid }
    RoleId:
      name: roleId
      in: path
      required: true
      schema: { type: string, format: uuid }
    PersonId:
      name: personId
      in: path
      required: true
      schema: { type: string, format: uuid }
    PermissionRequestId:
      name: requestId
      in: path
      required: true
      schema: { type: string, format: uuid }
    PathID:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
      description: Generic resource path-parameter (Platform module routes).

    ProductId:
      name: productId
      in: path
      required: true
      schema: { type: string, format: uuid }
    BatchId:
      name: batchId
      in: path
      required: true
      schema: { type: string, format: uuid }
  responses:
    BadRequest:
      description: Malformed request (invalid body, bad param shape)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Unauthorized:
      description: Missing or invalid bearer token
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    NotFound:
      description: Resource not found (per ADR 0044, enumeration-safe — may also mean "exists but no access")
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Unprocessable:
      description: Validation failure (RFC 9457 with field-level errors map)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    Forbidden:
      description: Authenticated but missing the required permission
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    ValidationError:
      description: Field-level validation failure (RFC 9457 with `errors` map)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
    InternalServerError:
      description: Server error
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }

  schemas:
    # ===== Errors ======================================================
    ErrorResponse:
      type: object
      description: |
        RFC 9457 Problem Details + LeadKart legacy fields. Legacy `error`/
        `message` stay populated for backward compat. Validation failures
        carry the `errors` map (field name → list of messages).
      properties:
        type:   { type: string, description: 'RFC 9457 §3.1.1 — canonical type URI' }
        title:  { type: string, description: 'RFC 9457 §3.1.2 — human-readable summary' }
        status: { type: integer, description: 'RFC 9457 §3.1.3 — HTTP status code' }
        detail: { type: string, description: 'RFC 9457 §3.1.4 — human-readable detail' }
        error:  { type: string, description: 'machine-parseable code (LeadKart legacy)' }
        message: { type: string, description: 'human-readable message (LeadKart legacy)' }
        errors:
          type: object
          description: 'Field-level errors (RFC 9457 §3.1 extension). Key = JSON field name; value = list of error strings.'
          additionalProperties:
            type: array
            items: { type: string }
      required: [error]

    # ===== Auth ========================================================
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:    { type: string, format: email }
        password: { type: string, format: password }
        device_label:
          type: string
          description: 'Optional. When empty, derived from User-Agent → RemoteAddr → "Unknown device".'

    LoginResponse:
      type: object
      required: [access_token, refresh_token, access_token_expires_at, token_type]
      properties:
        access_token:   { type: string }
        refresh_token:  { type: string }
        access_token_expires_at: { type: string, format: date-time }
        token_type:     { type: string, enum: [Bearer] }
        must_change_password:
          type: boolean
          description: |
            BRD line 241 + ADR 0053 — when true, the credential was
            provisioned by an admin/operator and the frontend MUST
            redirect to the change-password screen on first login.
            Omitted from the wire shape when false.

    RefreshRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token: { type: string }

    LogoutRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token: { type: string }
        reason:        { type: string }

    RequestPasswordResetRequest:
      type: object
      required: [email]
      properties:
        email: { type: string, format: email }

    ResetPasswordRequest:
      type: object
      required: [token, new_password]
      properties:
        token:        { type: string }
        new_password: { type: string, format: password, minLength: 12 }

    ChangePasswordRequest:
      type: object
      required: [current_password, new_password]
      properties:
        current_password: { type: string, format: password }
        new_password:     { type: string, format: password, minLength: 12 }

    RequestEmailChangeRequest:
      type: object
      required: [new_email]
      properties:
        new_email: { type: string, format: email }

    ConfirmEmailChangeRequest:
      type: object
      required: [token]
      properties:
        token: { type: string }

    # ===== Capabilities ================================================
    CapabilitiesDto:
      type: object
      required: [person_id, membership_id, tenant_id, tenant_slug, is_platform, is_super_user, permissions, roles]
      properties:
        person_id:     { type: string, format: uuid }
        membership_id: { type: string, format: uuid }
        tenant_id:     { type: string, format: uuid }
        tenant_slug:   { type: string }
        email:         { type: string, format: email }
        first_name:    { type: string }
        last_name:     { type: string }
        is_platform:   { type: boolean }
        is_super_user: { type: boolean }
        permissions:
          type: array
          items: { type: string }
        roles:
          type: array
          items: { $ref: '#/components/schemas/CapabilityRoleDto' }

    CapabilityRoleDto:
      type: object
      required: [id, name, is_super_admin]
      properties:
        id:             { type: string, format: uuid }
        name:           { type: string }
        is_super_admin: { type: boolean }

    # ===== Sessions ====================================================
    SessionDto:
      type: object
      required: [family_id, tenant_id, device_label, created_at, last_used_at]
      properties:
        family_id:    { type: string, format: uuid }
        tenant_id:    { type: string, format: uuid }
        device_label: { type: string }
        created_at:   { type: string, format: date-time }
        last_used_at: { type: string, format: date-time }

    ListSessionsResponse:
      type: object
      required: [sessions]
      properties:
        sessions:
          type: array
          items: { $ref: '#/components/schemas/SessionDto' }

    RevokeAllSessionsRequest:
      type: object
      properties:
        except_current: { type: boolean }
        reason:         { type: string }

    RevokeAllSessionsResponse:
      type: object
      required: [revoked_count]
      properties:
        revoked_count: { type: integer }

    # ===== Tenants =====================================================
    RegisterTenantRequest:
      type: object
      required: [slug, legal_name, display_name, admin_email, admin_password, admin_first_name, admin_last_name]
      properties:
        slug:             { type: string, pattern: '^[a-z0-9-]+$', minLength: 2, maxLength: 100 }
        legal_name:       { type: string, maxLength: 200 }
        display_name:     { type: string, maxLength: 200 }
        admin_email:      { type: string, format: email }
        admin_password:   { type: string, format: password, minLength: 12 }
        admin_first_name: { type: string }
        admin_last_name:  { type: string }

    RegisterTenantResponse:
      type: object
      required: [tenant_id, person_id, membership_id]
      properties:
        tenant_id:     { type: string, format: uuid }
        person_id:     { type: string, format: uuid }
        membership_id: { type: string, format: uuid }

    TenantDto:
      type: object
      required: [id, slug, legal_name, display_name, status, created_at, admin_address, password_policy]
      properties:
        id:           { type: string, format: uuid }
        slug:         { type: string }
        legal_name:   { type: string }
        display_name: { type: string }
        status:       { type: string, enum: [pending, active, suspended, marked_for_deletion, hard_deleted] }
        created_at:   { type: string, format: date-time }
        activated_at: { type: string, format: date-time }
        suspended_at: { type: string, format: date-time }
        deletion_scheduled_at: { type: string, format: date-time }
        deletion_reason: { type: string }
        gst_number:           { type: string }
        pan_number:           { type: string }
        drug_licence_number:  { type: string }
        admin_phone:          { type: string }
        admin_address: { $ref: '#/components/schemas/AdminAddressDto' }
        password_policy: { $ref: '#/components/schemas/PasswordPolicyDto' }
        locale:      { type: string }
        time_zone:   { type: string }
        date_format: { type: string }
        currency:    { type: string }

    AdminAddressDto:
      type: object
      properties:
        street:    { type: string }
        city:      { type: string }
        district:  { type: string }
        state:     { type: string }
        state_code: { type: string }
        pincode:   { type: string }

    PasswordPolicyDto:
      type: object
      required: [min_length, require_uppercase, require_lowercase, require_digit, require_symbol, max_failed_attempts, lockout_minutes]
      properties:
        min_length:           { type: integer }
        require_uppercase:    { type: boolean }
        require_lowercase:    { type: boolean }
        require_digit:        { type: boolean }
        require_symbol:       { type: boolean }
        max_failed_attempts:  { type: integer }
        lockout_minutes:      { type: integer }

    UpdateTenantProfileRequest:
      type: object
      properties:
        legal_name:   { type: string, maxLength: 200 }
        display_name: { type: string, maxLength: 200 }

    UpdateTenantStatutoryRequest:
      type: object
      properties:
        gst_number:           { type: string }
        pan_number:           { type: string }
        drug_licence_number:  { type: string }

    UpdateTenantAdminContactRequest:
      type: object
      properties:
        phone:   { type: string }
        address: { $ref: '#/components/schemas/AdminAddressDto' }

    UpdateTenantSettingsRequest:
      type: object
      required: [password_policy]
      properties:
        password_policy: { $ref: '#/components/schemas/PasswordPolicyDto' }

    UpdateTenantDisplayPreferencesRequest:
      type: object
      properties:
        locale:      { type: string }
        time_zone:   { type: string }
        date_format: { type: string }
        currency:    { type: string }

    SuspendTenantRequest:
      type: object
      required: [reason]
      properties:
        reason: { type: string, minLength: 1 }

    MarkTenantForDeletionRequest:
      type: object
      required: [reason]
      properties:
        reason: { type: string, minLength: 1 }

    # ===== Users =======================================================
    UserDto:
      type: object
      required: [membership_id, person_id, tenant_id, email, first_name, last_name, status, role_ids]
      properties:
        membership_id:   { type: string, format: uuid }
        person_id:       { type: string, format: uuid }
        tenant_id:       { type: string, format: uuid }
        email:           { type: string, format: email }
        first_name:      { type: string }
        last_name:       { type: string }
        status:          { type: string, enum: [active, inactive] }
        designation:     { type: string }
        department:      { type: string }
        status_message:  { type: string }
        joined_at:       { type: string, format: date-time }
        left_at:         { type: string, format: date-time }
        reports_to:      { type: string, format: uuid }
        role_ids:
          type: array
          items: { type: string, format: uuid }

    ListUsersResponse:
      type: object
      required: [users, has_more]
      properties:
        users:
          type: array
          items: { $ref: '#/components/schemas/UserDto' }
        has_more:    { type: boolean }
        next_cursor: { type: string }

    CreateUserRequest:
      type: object
      required: [email, password, first_name, last_name]
      properties:
        email:      { type: string, format: email }
        password:   { type: string, format: password, minLength: 12 }
        first_name: { type: string }
        last_name:  { type: string }

    CreateUserResponse:
      type: object
      required: [person_id, membership_id, person_existed]
      properties:
        person_id:       { type: string, format: uuid }
        membership_id:   { type: string, format: uuid }
        person_existed:  { type: boolean }

    UpdateUserProfileRequest:
      type: object
      properties:
        designation:    { type: string }
        department:     { type: string }
        status_message: { type: string }

    DeactivateUserRequest:
      type: object
      required: [reason]
      properties:
        reason: { type: string, minLength: 1 }

    AssignUserRoleRequest:
      type: object
      required: [role_id]
      properties:
        role_id: { type: string, format: uuid }

    AssignUserManagerRequest:
      type: object
      required: [manager_id]
      properties:
        manager_id: { type: string, format: uuid }

    ReplaceUserPermissionOverridesRequest:
      type: object
      properties:
        granted:
          type: array
          items: { type: string }
        revoked:
          type: array
          items: { type: string }

    # ===== Roles =======================================================
    RoleDto:
      type: object
      required: [id, tenant_id, name, is_system_default, is_super_admin, hierarchy_level, permissions, created_at]
      properties:
        id:               { type: string, format: uuid }
        tenant_id:        { type: string, format: uuid }
        name:             { type: string }
        is_system_default: { type: boolean }
        is_super_admin:   { type: boolean }
        hierarchy_level:  { type: integer }
        permissions:
          type: array
          items: { type: string }
        created_at:       { type: string, format: date-time }
        parent_role_id:
          type: string
          format: uuid
          description: |
            ADR 0058 (Wave 9.4) — populated from the active edge in
            `identity.role_hierarchy_edges` via JOIN at read time.
            Omitted when the role is a root (no active edge). Permission
            resolution stays flat per role; the hierarchy is consumed
            by approval workflows + reporting, NOT by the resolver.

    ListRolesResponse:
      type: object
      required: [roles]
      properties:
        roles:
          type: array
          items: { $ref: '#/components/schemas/RoleDto' }

    CreateRoleRequest:
      type: object
      required: [name, hierarchy_level]
      properties:
        name:             { type: string, minLength: 2, maxLength: 100 }
        hierarchy_level:  { type: integer, minimum: 0, maximum: 99 }
        parent_role_id:
          type: string
          format: uuid
          description: |
            ADR 0058 (Wave 9.4) — optional parent for the new role.
            Omit / empty = root (no edge created). When set the role
            + the rolehierarchy.Edge are inserted in one transaction;
            cross-tenant + self-reference + cycle prevention runs at
            the DB layer (composite FK + check + cycle trigger).

    CreateRoleResponse:
      type: object
      required: [role_id]
      properties:
        role_id: { type: string, format: uuid }

    UpdateRoleRequest:
      type: object
      description: |
        Both fields optional. Empty `name` skips rename. Omitting
        `hierarchy_level` (or sending `null`) skips re-level — using a
        pointer field instead of a -1 sentinel keeps the wire shape clean.
      properties:
        name:            { type: string, minLength: 2, maxLength: 100 }
        hierarchy_level: { type: integer, minimum: 0, maximum: 99, nullable: true }

    ReplaceRolePermissionsRequest:
      type: object
      required: [permissions]
      properties:
        permissions:
          type: array
          items: { type: string }

    RolePermissionRequest:
      type: object
      required: [permission]
      properties:
        permission: { type: string }

    SetRoleParentRequest:
      type: object
      description: |
        ADR 0058 (Wave 9.4) — PATCH body for
        `/api/v1/roles/{roleId}/parent`. Pass `null` (or empty string)
        to clear the parent (role becomes a root by soft-deleting any
        active edge); pass a UUID referencing a role in the same
        tenant to atomically replace any existing edge.
      required: [parent_role_id]
      properties:
        parent_role_id:
          type: string
          format: uuid
          nullable: true
        reason:
          type: string
          minLength: 10
          maxLength: 1024
          description: |
            Optional audit text recorded on the new edge (when setting)
            OR the cleared edge (when clearing). When supplied must be
            10-1024 characters per the DB CHECK constraint.

    # ===== Platform ====================================================
    PersonDto:
      type: object
      required: [id, email, first_name, last_name, is_active, is_anonymised, is_globally_suspended, created_at]
      properties:
        id:                       { type: string, format: uuid }
        email:                    { type: string, format: email }
        first_name:               { type: string }
        last_name:                { type: string }
        is_active:                { type: boolean }
        is_anonymised:            { type: boolean }
        is_globally_suspended:    { type: boolean }
        global_suspension_reason: { type: string }
        globally_suspended_at:    { type: string, format: date-time }
        created_at:               { type: string, format: date-time }
        anonymised_at:            { type: string, format: date-time }

    ListAllTenantsResponse:
      type: object
      required: [tenants]
      properties:
        tenants:
          type: array
          items: { $ref: '#/components/schemas/TenantDto' }

    ListTenantsResponse:
      type: object
      description: |
        Filtered tenant lookup result per GET /api/v1/tenants?slug=...
        Stripe-canon shape: list of 0-1 matches (enumeration-safe; empty
        list when no match OR caller lacks access, indistinguishable).
      required: [tenants]
      properties:
        tenants:
          type: array
          items: { $ref: '#/components/schemas/TenantDto' }

    ListPersonMembershipsResponse:
      type: object
      required: [memberships]
      properties:
        memberships:
          type: array
          items: { $ref: '#/components/schemas/UserDto' }

    GlobalSuspendPersonRequest:
      type: object
      required: [reason]
      properties:
        reason: { type: string, minLength: 1 }

    UpdatePersonProfileRequest:
      type: object
      properties:
        first_name: { type: string }
        last_name:  { type: string }

    PlatformStatsResponse:
      type: object
      required: [tenants_total, tenants_active, tenants_suspended, persons_total, memberships_active]
      properties:
        tenants_total:      { type: integer }
        tenants_active:     { type: integer }
        tenants_suspended:  { type: integer }
        persons_total:      { type: integer }
        memberships_active: { type: integer }
        deltas: { $ref: '#/components/schemas/PlatformStatsDeltas' }

    PlatformStatsDeltas:
      type: object
      required: [window, tenants_total, tenants_active, persons_total, memberships_active]
      properties:
        window:             { type: string, enum: ['24h', '7d', '30d'] }
        tenants_total:      { type: integer }
        tenants_active:     { type: integer }
        persons_total:      { type: integer }
        memberships_active: { type: integer }

    CreateImpersonationSessionRequest:
      type: object
      required: [target_tenant_id, reason]
      properties:
        target_tenant_id: { type: string, format: uuid }
        reason:           { type: string, minLength: 10 }
        duration_minutes: { type: integer, minimum: 1, maximum: 240, default: 30 }

    CreateImpersonationSessionResponse:
      type: object
      required: [session_id, expires_at_utc, access_token, access_token_expires_at_utc, token_type]
      properties:
        session_id:                  { type: string, format: uuid }
        expires_at_utc:              { type: string, format: date-time }
        access_token:                { type: string, description: 'Scoped JWT (aud=leadkart-impersonation; is_platform=false). Bound to session lifetime.' }
        access_token_expires_at_utc: { type: string, format: date-time }
        token_type:                  { type: string, enum: [Bearer] }

    ImpersonationSessionDto:
      type: object
      required: [session_id, operator_id, target_tenant_id, reason, created_at, expires_at]
      properties:
        session_id:       { type: string, format: uuid }
        operator_id:      { type: string, format: uuid }
        target_tenant_id: { type: string, format: uuid }
        reason:           { type: string }
        created_at:       { type: string, format: date-time }
        expires_at:       { type: string, format: date-time }

    ListImpersonationSessionsResponse:
      type: object
      required: [sessions]
      properties:
        sessions:
          type: array
          items: { $ref: '#/components/schemas/ImpersonationSessionDto' }

    # ===== Search ======================================================
    SearchResponse:
      type: object
      required: [persons, tenants, has_partial]
      properties:
        persons:
          type: array
          items: { $ref: '#/components/schemas/SearchPersonHit' }
        tenants:
          type: array
          items: { $ref: '#/components/schemas/SearchTenantHit' }
        has_partial: { type: boolean }

    SearchPersonHit:
      type: object
      required: [id, email, first_name, last_name, created_at]
      properties:
        id:         { type: string, format: uuid }
        email:      { type: string, format: email }
        first_name: { type: string }
        last_name:  { type: string }
        created_at: { type: string, format: date-time }

    SearchTenantHit:
      type: object
      required: [id, slug, legal_name, display_name, status, created_at]
      properties:
        id:           { type: string, format: uuid }
        slug:         { type: string }
        legal_name:   { type: string }
        display_name: { type: string }
        status:       { type: string }
        created_at:   { type: string, format: date-time }

    # ===== Audit =======================================================
    AuditEventDto:
      type: object
      required: [id, action, occurred_at, duration_ms, succeeded]
      properties:
        id:             { type: string, format: uuid }
        action:         { type: string }
        actor_id:       { type: string, format: uuid }
        tenant_id:      { type: string, format: uuid }
        correlation_id: { type: string, format: uuid }
        occurred_at:    { type: string, format: date-time }
        duration_ms:    { type: integer, format: int64 }
        succeeded:      { type: boolean }
        failure_reason: { type: string }
        payload:        { type: object, description: 'jsonb payload from the original command. Free-form per action.' }

    ListAuditEventsResponse:
      type: object
      required: [events, has_more]
      properties:
        events:
          type: array
          items: { $ref: '#/components/schemas/AuditEventDto' }
        has_more:    { type: boolean }
        next_cursor: { type: string }

    # ===== Permission requests (ADR 0055) ==============================
    CreatePermissionRequestRequest:
      type: object
      required: [permission, reason]
      properties:
        permission:
          type: string
          description: Closed-set IdentityPermissions constant (e.g. "identity.users.create")
        duration_days:
          type: integer
          minimum: 1
          maximum: 90
          description: JIT window length in days. Omit to use default (7).
        reason:
          type: string
          minLength: 10
          maxLength: 1024

    CreatePermissionRequestResponse:
      type: object
      required: [request_id, status]
      properties:
        request_id:               { type: string, format: uuid }
        approver_membership_id:   { type: string, format: uuid, description: 'Requester current manager. Empty when the requester has no manager — only Platform operators can approve.' }
        status:                   { type: string, enum: [pending] }

    ApprovePermissionRequestRequest:
      type: object
      properties:
        decision_reason:
          type: string
          maxLength: 1024
          description: Optional context for the approval.

    DenyPermissionRequestRequest:
      type: object
      required: [decision_reason]
      properties:
        decision_reason:
          type: string
          minLength: 1
          maxLength: 1024
          description: REQUIRED on Deny per ADR 0055 audit canon.

    PermissionRequestDto:
      type: object
      required: [id, tenant_id, requester_membership_id, permission, duration_days, reason, state, created_at, updated_at]
      properties:
        id:                       { type: string, format: uuid }
        tenant_id:                { type: string, format: uuid }
        requester_membership_id:  { type: string, format: uuid }
        permission:               { type: string }
        duration_days:            { type: integer }
        reason:                   { type: string }
        state:                    { type: string, enum: [pending, approved, denied, cancelled] }
        approver_membership_id:   { type: string, format: uuid }
        decided_at:               { type: string, format: date-time }
        decision_reason:          { type: string }
        expires_at:               { type: string, format: date-time, description: 'When the bounded grant expires. Set only after Approve.' }
        created_at:               { type: string, format: date-time }
        updated_at:               { type: string, format: date-time }

    ListPermissionRequestsResponse:
      type: object
      required: [requests, has_more]
      properties:
        requests:
          type: array
          items: { $ref: '#/components/schemas/PermissionRequestDto' }
        has_more:    { type: boolean }
        next_cursor: { type: string }

    # =========================================================================
    # Platform bounded context (ADR 0059)
    # =========================================================================

    CreateUnverifiedContactRequest:
      type: object
      required:
        - contact_name
        - mobile_e164
        - pincode
        - city
        - district
        - state
        - has_drug_licence
        - has_gst
        - has_pan
        - business_type
        - medicine_system
        - order_value
        - buy_timeline
      properties:
        contact_name:      { type: string, minLength: 2, maxLength: 200 }
        mobile_e164:       { type: string, pattern: '^\+91[0-9]{10}$' }
        email:             { type: string }
        pincode:           { type: string, pattern: '^[0-9]{6}$' }
        city:              { type: string }
        district:          { type: string }
        state:             { type: string }
        street:            { type: string }
        has_drug_licence:  { type: boolean }
        has_gst:           { type: boolean }
        gst_number:        { type: string, description: 'Required when has_gst=true; GSTIN format' }
        has_pan:           { type: boolean }
        pan_number:        { type: string, description: 'Required when has_pan=true; PAN format' }
        business_type:     { type: string, enum: [PCD, ThirdParty] }
        medicine_system:   { type: string, enum: [Allopathic, Ayurvedic] }
        product_ranges:    { type: array, items: { type: string } }
        dosage_forms:      { type: array, items: { type: string } }
        order_value:       { type: string, enum: [Below5000, Upto25000, Upto50000, Above50000] }
        buy_timeline:      { type: string, enum: [WithinWeek, Within15Days, WithinMonth] }

    CreateUnverifiedContactResponse:
      type: object
      required: [contact_id]
      properties:
        contact_id: { type: string, format: uuid }

    LogVerificationCallRequest:
      type: object
      required: [outcome]
      properties:
[...]
